<div>
  {{translate 'Regular translation in hbs'}}
  {{translate '{someVar} translation in hbs' someVar='Interpolated'}}
</div>
<div>
  {{translatePlural '{count} translation in hbs' '{count} translations' count='2'}}
  {{translatePlural
    '{count} translation with {someVar} in hbs'
    '{count} translations with {someVar} in hbs'
    count='2'
    someVar='interpolation'
  }}
</div>
<div>
  {{translateWithContext 'Translation with context in hbs' 'This is a test translation'}}
  {{translateWithContext
    '{another} translation with context in hbs'
    'This is another test translation with context in hbs'
    another='Another'
  }}
</div>
<div>
  {{translatePluralWithContext
    '{count} plural translation with context in hbs'
    '{count} plural translations with context in hbs'
    'This is a plural translation with context'
    count='9000'
  }}
</div>