{{#*inline 'details'}}
    <div>
        <button>{{ translate phrase='Hello' }}</button>
        <div>
            {{ translate phrase='Some item [[name]]' pluralForm='Some items [[name]]' name=myName count=myCount }}
        </div>
        <script>
            const profile = { name: 'Tom' };
            {{translateJS phrase='Mail now [[id1]]' context='Mail is a verb' id1=profile.name}}
        </script>
        <button>{{translate phrase='Mail now [[id1]]' context='Mail is a verb' id1=myName}}</button>
        <span>{{translate phrase='this is a raw template'}}</span>
        {{translate phrase='<span class="yext">The dog\'s bone</span>'}}
        <div>
            {{ translate phrase='The [[count]] person went on a walk' pluralForm='The [[count]] people went on a walk' context='male' count=myCount}}
        </div>
    </div>
{{/inline}}
