<div>
    <button>Bonjour Bonjour</button>
    <div>
        {{ processTranslation phrase='{\"0\":\"Un article [[name]]\",\"1\":\"Les articles [[name]]\",\"locale\":\"fr-FR\"}' name=myName count=myCount }}
    </div>
    <script>
        const profile = { name: 'Tom' };
        ANSWERS.processTranslation('Mail maintenant [[id1]]', {id1:profile.name})
    </script>
    <button>{{ processTranslation phrase='Mail maintenant [[id1]]' id1=myName }}</button>
    <div>
        {{ processTranslation phrase='{\"0\":\"Le [[count]] homme est parti en promenade\",\"1\":\"Les [[count]] Hommes fait une promenade\",\"locale\":\"fr-FR\"}' count=myCount }}
        {{ processTranslation phrase='{\"0\":\"La [[count]] femme a fait une promenade\",\"1\":\"Les [[count]] femmes fait une promenade\",\"locale\":\"fr-FR\"}' count=myCount }}
    </div>
    <button>L&#x27;homme</button>
    L&#x27;homme
    L'homme
    &lt;span class&#x3D;&quot;yext&quot;&gt;L&#x27;os du chien&lt;/span&gt;
    <span class="yext">L'os du chien</span>
    Le chien.
    Le: chien
    {{{ processTranslation phrase='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' name=name }}}
    {{ processTranslation phrase='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' name=name }}
    {{{ processTranslation phrase='{\"0\":\"<a href=\\"https://www.yext.com\\">Voir notre site web [[name]]</a>\",\"1\":\"<a href=\\"https://www.yext.com\\">Voir nos sites web [[name]]</a>\",\"locale\":\"fr-FR\"}' count=2 name=name }}}
    {{ processTranslation phrase='{\"0\":\"<a href=\\"https://www.yext.com\\">Voir notre site web [[name]]</a>\",\"1\":\"<a href=\\"https://www.yext.com\\">Voir nos sites web [[name]]</a>\",\"locale\":\"fr-FR\"}' count=2 name=name }}
    {{{ processTranslation phrase='{\"0\":\"<a href=\\"https://www.yext.com\\">Voir notre site web [[name]]</a>\",\"1\":\"<a href=\\"https://www.yext.com\\">Voir nos sites web [[name]]</a>\",\"locale\":\"fr-FR\"}' count=2 name=name }}}
</div>
