<div>
    <button>Bonjour Bonjour</button>
    <div>
        {{ processTranslation pluralForm0='Un article [[name]]' pluralForm1='Les articles [[name]]'  name=myName count=myCount }}
    </div>
    <script>
        const profile = { name: 'Tom' };
        ANSWERS.processTranslation('Mail maintenant [[id1]]', {id1:profile.name})
    </script>
    <button>{{ processTranslation phrase='Mail maintenant [[id1]]' id1=myName }}</button>
    {{ processTranslation phrase='[[name]]\'s mail' name=myName }}
    <div>
        {{ processTranslation pluralForm0='Le [[count]] homme est parti en promenade' pluralForm1='Les [[count]] Hommes fait une promenade'  count=myCount }}
        {{ processTranslation pluralForm0='La [[count]] femme a fait une promenade' pluralForm1='Les [[count]] femmes fait une promenade'  count=myCount }}
    </div>
    <button>L&#x27;homme</button>
    <!-- {{ processTranslation pluralForm0='singular' pluralForm1='plural'  count=mycount }} -->
    {{!-- {{ translate phrase="handlebars comments should be ignored"}} --}}
    L&#x27;homme
    L'homme
    &lt;span class&#x3D;&quot;yext&quot;&gt;L&#x27;os du chien&lt;/span&gt;
    <span class="yext">L'os du chien</span>
    Le chien.
    Le: chien
    {{{ processTranslation phrase='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' name=name }}}
    {{ processTranslation phrase='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' name=name }}
    {{{ processTranslation pluralForm0='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' pluralForm1='<a href="https://www.yext.com">Voir nos sites web [[name]]</a>'  count=2 name=name }}}
    {{ processTranslation pluralForm0='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' pluralForm1='<a href="https://www.yext.com">Voir nos sites web [[name]]</a>'  count=2 name=name }}
    {{{ processTranslation pluralForm0='<a href="https://www.yext.com">Voir notre site web [[name]]</a>' pluralForm1='<a href="https://www.yext.com">Voir nos sites web [[name]]</a>'  count=2 name=name }}}
</div>
