<div>
    <button>{{ translate phrase='Hello' }} {{ translate phrase='Hello' }}</button>
    <div>
        {{ translate phrase='Some item [[name]]' pluralForm='Some items [[name]]' name=myName count=myCount }}
    </div>
    <script>
        const profile = { name: 'Tom' };
        {{translateJS phrase='Mail now [[id1]]' context='Mail is a verb' id1=profile.name}}
    </script>
    <button>{{translate phrase='Mail now [[id1]]' context='Mail is a verb' id1=myName}}</button>
    {{translate phrase='[[name]]\'s mail' name=myName}}
    <div>
        {{ translate phrase='The [[count]] person went on a walk' pluralForm='The [[count]] people went on a walk' context='male' count=myCount}}
        {{ translate phrase='The [[count]] person went on a walk' pluralForm='The [[count]] people went on a walk' context='female' count=myCount}}
    </div>
    <button>{{ translate phrase='The man' }}</button>
    <!-- {{ translate phrase='singular' pluralForm='plural' count=mycount}} -->
    {{!-- {{ translate phrase="handlebars comments should be ignored"}} --}}
    {{ translate phrase='Person' context="male" escapeHTML=true}}
    {{ translate phrase='Person' context="male" escapeHTML=false}}
    {{ translate phrase='<span class="yext">The dog\'s bone</span>' escapeHTML=true}}
    {{ translate phrase='<span class="yext">The dog\'s bone</span>' escapeHTML=false}}
    {{ translate phrase='The dog.'}}
    {{ translate phrase='The: dog'}}
    {{ translate phrase='<a href="https://www.yext.com">View our website [[name]]</a>' name=name escapeHTML=false}}
    {{ translate phrase='<a href="https://www.yext.com">View our website [[name]]</a>' name=name}}
    {{ translate phrase='<a href="https://www.yext.com">View our website [[name]]</a>' pluralForm='<a href="https://www.yext.com">View our websites [[name]]</a>' count=2 name=name escapeHTML=false}}
    {{ translate phrase='<a href="https://www.yext.com">View our website [[name]]</a>' pluralForm='<a href="https://www.yext.com">View our websites [[name]]</a>' count=2 name=name}}
    {{ translate
        phrase='<a href="https://www.yext.com">View our website [[name]]</a>'
        pluralForm='<a href="https://www.yext.com">View our websites [[name]]</a>'
        count=2 name=name context='internet web, not spider web'
        escapeHTML=false
    }}
</div>
